body {
    background-color: darkslategray;
    color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    align-items: center;
    
}

form{
    margin-top: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    width: 150px;
    background-color: rgb(26, 223, 102);
    border-radius: 30px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    height: 30px;
}

img {
    border-radius: 100px;
    width: 200px;
}