body {
    background-color: black;
    color: #926f34;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    color: #926f34;
    border-radius: 50px;
    position: relative;
}


main {
    align-items: center;
    
}

form{
    margin-top: 70px;
    width: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    width: 200px;
    background-color: rgb(26, 223, 102);
    border-radius: 30px;
    margin-top: 10px;
    color: black;
    height: 50px;
    
}

img {
    border-radius: 150px;
    width: 300px;

    

}